#userprofile {
  display: flex;
  height: 100vh;
  background: rgb(242, 214, 255);
  background: linear-gradient(
    180deg,
    rgba(242, 214, 255, 1) 23%,
    rgba(255, 253, 253, 0) 97%
  );
}

.userprofile-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  margin-left: 500px;
}
